$tablet-width: 750px;
$desktop-width: 1170px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-main: "open_sans", "Arial", sans-serif;
$font-accent: "muller", "Arial", sans-serif;

$text-main-color: #5e606a;
$text-dark-color: #383d52;
$text-accent-color: #7f38bd;
$text-white-color: #ffffff;
$placeholder-color: #868995;

$lines-color: #f2f2f2;
$btn-color: #fb0275;
$bg-color: #faf8fb;
$bg-accent-color: #883eca;
$shadow-color: rgba(81, 8, 86, 0.3);
$shadow-color-2: rgba(81, 8, 86, 0.08);
