.services {
  margin-bottom: 30px;
  padding-top: 60px;
  background-color: $bg-color;
}

.services__title {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 38px;
}


@media (min-width: $tablet-width) {

  .services {
    margin-bottom: 65px;
    padding-top: 70px;
  }

  .services__title {
    width: 720px;
    margin-bottom: 56px;
  }
}


@media (min-width: $desktop-width) {

  .services {
    margin-bottom: 125px;
    padding-top: 95px;
  }

  .services__title {
    width: 1140px;
    margin-bottom: 80px;
  }
}
